<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OuglaWebApp</title>
    <link href="~/css/editorlayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/OuglaWebApp.styles.css" asp-append-version="true" />
</head>
<body>


    <div class="row">

        <div class="sidebar col-lg-2 col-md-2 col-xl-2 bg-secondary">
            <div class="buttonContainer">
                <input type="submit" class="btn btn-light" value="Edit Site" />
                <input type="submit" class="btn btn-primary" value="Publish" />
            </div>
        </div>

        <div class="content container col-lg-9 col-md-9 col-xl-9 bg-light">
            @RenderBody()
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



