@model System.Data.DataTable
@{
    Layout = "_BlueprintLayout";
    int index = 0;
}

<head>
    <link href="~/css/blogstylesheet.css" rel="stylesheet" />
</head>


    @{


        byte[] Binary = (byte[])(Model.Rows[0]["img"]);
        string base64string = Convert.ToBase64String(Binary, 0, Binary.Length);
        var imgSrc = "data:image/jpg;base64," + base64string;
    <div class="image-container text-center" id="img-preview">
        <img src="@imgSrc" class="img-fluid" alt="..." style="max-width:100%;height:400px;">
    </div>

    }



<h1 class="blog-title text-center">
    @Model.Rows[0]["Title"]
</h1>

<div class="para">
    @Html.Raw(Model.Rows[0]["Content"])
</div>