@model System.Data.DataTable
@{
    Layout = "_BlueprintLayout";
    int index = 0;
}

<div class="image-container" id="img-preview" style="max-width: 100%;max-height: 200px;background-color:dimgrey">
    @{


        byte[] Binary = (byte[])(Model.Rows[0]["img"]);
        string base64string = Convert.ToBase64String(Binary, 0, Binary.Length);
        var imgSrc = "data:image/jpg;base64," + base64string;

        <img src="@imgSrc" class="img-fluid" alt="...">
    }


</div>

<h1 class="blog-title">
    @Model.Rows[0]["Title"]
</h1>

<div class="para">
    @Html.Raw(Model.Rows[0]["Content"])
</div>