body{
    overflow-x:hidden;
}

.footer, .page-wrap:after {
    height: 200px;
}

.footer {
    background-color: black;
    height: 130px;
    margin-bottom:-100%;
}

.iconImg{
    margin-top:45px;
    max-width:100px;
    margin-left:10px;
    margin-right:10px;
}

.privacy-para {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;

}

.nav-links {
    margin-left: 40px;
    margin-top: 20px;
}