@model BlogModel
@{
    Layout = "_BlogEditorLayout";
}

<head>
    <link href="c:\users\lenovo\source\repos\ouglawebapp\ouglawebapp\views\blog\blogeditorstylesheet.css" rel="stylesheet" />
</head>

<section class="container">
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <form class="border p-4" method="post" enctype="multipart/form-data" asp-action="UploadBlog" asp-controller="Blog">
        <div class="text-center">
            <div class="image-container" id="img-preview" style="max-width: 100%;max-height: 200px;background-color:dimgrey">
                <p>100px 100px</p>
            </div>
            <label class="custom-file-upload">
                <input asp-for="Image" type="file" name="file" id="file" accept="image/*" onchange="fileCheck(this); " />
                Upload
            </label>
            @*<input class="btn" type="submit" value="Uplaod" />*@
        </div>
        <div>
            <label class="form-label">Blog Title: </label>
            <input class="form-control" type="text" asp-for="Title" />
            @*  <span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <div>
            <textarea asp-for="Content" id="Description" class="ckeditor"></textarea>
        </div>
        <div class="text-center">
            <input class="btn btn-primary mt-2" type="submit" value="Publish" />
        </div>
    </form>
    @Html.Raw(TempData["msg"])
    @*Script to display the text Editor*@
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('#Description')
        }
    </script>

    @*Script to Preview the selected Image*@
    <script>
        const chooseFile = document.getElementById("file");
        const imgPreview = document.getElementById("img-preview");
        chooseFile.addEventListener("change", function () {
            getImgData();
        });
        function getImgData() {
            const files = chooseFile.files[0];
            if (files) {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(files);
                fileReader.addEventListener("load", function () {
                    imgPreview.style.display = "block";
                    imgPreview.innerHTML = '<img src="' + this.result + '" style="max-width:100%;max-height:400px;object-fit: contain;overflow:none;"/>';
                });
            }
        }
    </script>
</section>

