@model BlogModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/ckeditor/ckeditor.js"></script>
<section class="container">

    <form class="border p-4" method="post" asp-action="UploadBlog" asp-controller="Blog">
        <div>
            <div id="img-preview"></div>
            <input type="file" asp-for="Image" name="choose-file" id="choose-file" accept="image/*" onchange="fileCheck(this); " />
            @*<input class="btn" type="submit" value="Uplaod" />*@
        </div>
        <div>
            <label class="form-label">Blog Title: </label>
            <input class="form-control" type="text" asp-for="Title" />
            @*  <span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <div>
            <textarea asp-for="Content" id="Description" class="ckeditor"></textarea>
        </div>
        <div class="text-center">
            <input class="btn btn-primary mt-2" type="submit" value="Sign-up" />
        </div>
    </form>

</section>


<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description')
    }
</script>

<script>
    const chooseFile = document.getElementById("choose-file");
    const imgPreview = document.getElementById("img-preview");
    chooseFile.addEventListener("change", function () {
        getImgData();
    });
    function getImgData() {
            const files = chooseFile.files[0];
            if (files) {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(files);
                fileReader.addEventListener("load", function () {
                    imgPreview.style.display = "block";
                    imgPreview.innerHTML = '<img src="' + this.result + '" />';
                });
            }
        }
</script>